* {
  box-sizing: border-box;
}

body {
	font-family: 'Lato',sans-serif;
	line-height: 1.5;
}

header{
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
	background: #2196f3 url(../images/header-bg.jpg) center; 
	background-size: cover;
	padding:30px;
	margin-bottom:30px;
}

h1{
	font-weight: 300;
}
a{
	color: green;
	text-decoration: none;
}

a: hover {
	color:red;
	background-color: yellow;
	border-bottom: 1px solid black;
}

.border{
	width: 1000px;
	margin: 0 auto;
}

.recipes{
	width: 66.66%;
	float: left;
}

.sidebar{
	width: 33.33%;
	float: right;
	background-color: orange;
	padding: 20px;
}

article {
	width: 50%;
	float:left;
	padding: 0 20px;
}

article img{
	width:100%;
}
footer {
	clear: both;
	text-align: center;
	text-transform: uppercase;
	background-color: purple;
	padding: 30px;
}

ul li {
	display: inline;
	margin: 5px;
}
@media (max-width: 1000px) {
	.sidebar{
		display: none;
	}
	.recipes, .container{
		width: 100%;
	}
}

@media (max-width: 600px) {
	article{
		width: 100%;
	}
}





